body {
	background: url('../img/bg.jpg') no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #444;
	margin: 0;
	font-family: Calibri, sans-serif;
}

a {
	color: #6ac;
	text-decoration: none;
}
h2 {
	color: #666;
	margin: 0 0 15px 10px;
}
h3 {
	color: #a6c;
	margin: 0 0 5px 10px;
	font-size: 1.2em;
	font-weight: normal;
}

/* HEADER */
header {
	background: rgba(255, 255, 255, 0.6);
	color: #444;
	padding: 5px 20px;
	text-shadow: 0 0 5px #fff;
}
header h1 {
	height: 86px;
	background: url('../img/logo.png') no-repeat;
	text-indent: -100%;
}
.userpanel {
	color: #666;
	position: absolute;
	top: 60px;
	right: 30px;
}
.userpanel_profile {
	float: left;
}
.userpanel_logout {
	float: right;
}

/* FORMS */
form ul, form li {
	list-style: none;
	padding: 0;
	margin: 0;
}
input[type="text"], input[type="password"], textarea {
	color: inherit;
	border: solid 1px #aaa;
	margin: 0 0 5px 0;
}
input[type="text"]:focus, input[type="password"]:focus, textarea:focus {
	border: solid 1px #a6c;
	outline: none;
}
textarea {
	width: 400px;
	height: 80px;
	padding: 10px;
}
.form_username, .form_password {
	padding: 10px 15px 10px 30px;
}
.form_username {
	background: url('../img/id.png') no-repeat;
	background-position: 5px center;
}
.form_password {
	background: url('../img/key.png') no-repeat;
	background-position: 5px center;
}
input[type='submit'] {
	background: #a6c;
	color: #fff;
	padding: 10px 15px;
	border: none;
	font-size: inherit;
}
input[type='submit']:hover, input[type='submit']:focus {
	background: #6ac;
	cursor: pointer;
	outline: none;
}
.form_success {
	color: #444;
	background: #fff;
	position: relative;
	padding: 10px;
	margin: 0 10px 15px 10px;
	box-shadow: 0 0 5px #555;
}
.form_sidenote {
	margin: 20px 0 0 0;
	text-align: center;
}
/* profile */
.profile {
	padding: 0 10px;
}
.profile h3 {
	padding: 0;
	margin: 10px 0 5px 0;
}
/* NAVIGATION */
#nav {
	background: #fff;
	color: #444;
	padding: 10px 20px;
	margin: 0 0 20px 0;
}
.sortitem {
	margin: 0 10px;
}
.notsort {
	color: #444;
}
#links {
	float: right;
}

/* CONTENT CONTAINERS */
.infobox {
	color: #444;
	background: #fff;
	position: relative;
	margin: 0 10px 15px 10px;
	box-shadow: 0 0 5px #555;
}
/* header info */
.infobox_top {
	border-bottom: solid 1px #bfbfbf;
}
.infobox_id {
	color: #888;
	display: inline-block;
	padding: 8px 10px 5px 10px;
	border-right: solid 1px #bfbfbf;
	font-weight: bold;
}
.infobox_sub {
	display: inline-block;
	color: #6ac;
	padding: 5px 0;
	margin: 0 10px;
	font-size: 1.2em;
}
.infobox_batch {
	background: url('../img/batch.png') no-repeat center;
	color: #888;
	display: inline-block;
	float: right;
	padding: 8px 15px 5px 15px;
	border-left: solid 1px #bfbfbf;
	font-weight: bold;
	text-indent: -200%;
}
.infobox_subst {
	background: url('../img/substance.png') no-repeat center;
	color: #888;
	display: inline-block;
	float: right;
	padding: 8px 15px 5px 15px;
	border-left: solid 1px #bfbfbf;
	font-weight: bold;
	text-indent: -200%;
}
/* content */
.infobox_content {
	padding: 10px;
}
/* stock*/
.stock {
	color: #fff;
	max-width: 100%;
	padding: 10px;
	text-align: center;
}
.stock#stocked {
	background: #7a7;
}
.stock#unstocked {
	background: #a77;
}
/* details */
.infobox_detail {
	font-size: 0.8em;
}
/* details */
.infobox_detail_title {
	width: 100px;
	font-weight: bold;
}
.infobox_detail_dose {
	width: 100%;
	font-style: italic;
}
.infobox_notes {
	width: 80%;
	margin: 5px 0 10px 0;
}
/* pictures */
.infobox_pics {
	border-top: solid 1px #bfbfbf;
}
.batchpic {
	height: 100px;
	margin: 10px 0 0 0;
}

.list {
	width: 100%;
	border-collapse: collapse; 
}
.list tr {
	border-bottom: solid 1px #ddd;
}
.list td {
	padding: 5px 0;
}
.list_substance {
	min-width: 100px;
}
.list_head {
	font-weight: bold;
}
.list_head td {
	padding: 0 0 5px 0;
}
.list_head_select {
	width: 30px;
}
.list_head_id {
	width: 50px;
}
.list_head_username {
	width: 200px;
}
.list_head_count {
	width: 150px;
}
.list_item_buttons {
	background: #fff;
	float: right;
	overflow: auto;
	padding: 10px;
	margin: 0 10px 15px 10px;
	box-shadow: 0 0 5px #555;
}

/* substance data disclaimer */
#tripsit {
	margin: 0 0 0 10px;
	font-size: 0.8em;
	font-style: italic;
}
#tripsit img {
	margin: 0 0 -10px 5px;
}

/* AUTHENTICATION */
#form_auth {
	background: #fff;
	width: 200px;
	position: relative;
	padding: 20px;
	margin: 100px auto 0 auto;
	box-shadow: 0 0 5px #555;
}
#form_auth input[type='text'], #form_auth input[type='password'] {
	width: 153px;
}
#form_auth input[type='submit'] {
	background: #a6c;
	color: #fff;
	width: 200px;
	padding: 10px 15px;
	border: none;
}
#form_auth input[type='submit']:hover, #form_auth input[type='submit']:focus {
	background: #6ac;
	cursor: pointer;
	outline: none;
}
.form_feedback {
	color: #fff;
	background: #c55;
	padding: 10px;
	margin: 7px 0;
	text-align: center;
}
.form_feedback_green {
	background: #5a5;
}
